<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>ChatCycorp</title>
    <link rel="stylesheet" href="/public/assets/css/style.css">
</head>
<body>
<h1>Titre du chat</h1>
<div>
    Page index
</div>
<script type="text/javascript" src="public/assets/script/script.js"></script>
</body>
</html>
